.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--alt-default-color);
}

.preloader__icon {
  animation: rotate 0.9s linear infinite;
}

.preloader__icon svg {
  display: block;
}
